Exploratory data analysis

for training purpose we will use a data set "all_data.csv"

In [87]:
import pandas as pd
columns=["impression_type","News"]
a=pd.read_csv("all_data.csv",header=None,names=columns,encoding='latin-1')
a["news_channel"]="econonices Times"
old_size=a.shape
old_size

(4846, 3)

In [88]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4846 entries, 0 to 4845
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   impression_type  4846 non-null   object
 1   News             4846 non-null   object
 2   news_channel     4846 non-null   object
dtypes: object(3)
memory usage: 113.7+ KB

In [89]:
a.head()

,impression_type,News,news_channel
0,neutral,"According to Gran , the company has no plans t...",econonices Times
1,neutral,Technopolis plans to develop in stages an area...,econonices Times
2,negative,The international electronic industry company ...,econonices Times
3,positive,With the new production plant the company woul...,econonices Times
4,positive,According to the company 's updated strategy f...,econonices Times

here we will do scraping three news channel article on data 29 october 2020 these news channel are "hindustantimes","deccanchronicle","timesofindia"

In [90]:
from newspaper import Article 

Deccan_29_result =[]
Hindustan_29_result =[]
TOI_29_result = []

Hindustan_29 =["https://www.hindustantimes.com/cricket/ipl-2020-kl-rahul-reacts-to-being-named-india-s-limited-overs-vice-captain-for-australia-tour/story-GpQpSx6sgSmoE2rNdIZyuI.html","https://www.hindustantimes.com/columns/the-taste-with-vir-nice-church-attack-it-s-stupid-to-say-the-terror-attack-in-france-was-not-motivated-by-religion/story-5HgjnfUiv7xLvM3ZPIMEnM.html","https://www.hindustantimes.com/analysis/nalayak-gadkari-diagnosed-bureaucratic-malaise-modi-must-inject-the-cure-analysis/story-FqVFVVZQVU4KRSVjYYfN0N.html","https://www.hindustantimes.com/world-news/if-joe-biden-wins-presidential-election-what-would-us-climate-change-pledge-look-like/story-X8DpoenEUhEAYkqOOQSp5M.html","https://www.hindustantimes.com/india-news/shouldn-t-try-to-play-victim-india-roasts-pakistan-for-objecting-to-indo-us-statement/story-M2lbNQ30uxwqI7ENNvhzBM.html","https://www.hindustantimes.com/india-news/india-stands-with-france-in-fight-against-terrorism-pm-modi-condemns-nice-knife-attack/story-QOcfASpJGVHvr6e9n7jC1H.html","https://www.hindustantimes.com/india-news/officials-who-embarrassed-govt-with-rti-response-on-aarogya-setu-face-action/story-L3i7wkvkHgiDGRKfg9qxuK.html","https://www.hindustantimes.com/world-news/french-police-2-dead-in-knife-attack-near-church-in-nice/story-Y2O7MNh7tbzudspuFFzzoI.html","https://www.hindustantimes.com/india-news/govt-revises-bidding-parameters-for-air-india-s-divestment-to-ask-for-bids-at-enterprise-value/story-ebbhEHIAq38zcvWrROa6BN.html","https://www.hindustantimes.com/india-news/what-mike-pompeo-s-attack-on-china-tells-us-about-india-s-new-approach/story-oKCqwFrys5sm4ekXIJ3RMK.html"]

Deccan_29 = ["https://www.deccanchronicle.com/entertainment/tollywood/291020/kajal-weds-gautham-in-mumbai-reception-likely-for-tollywood-celebs-in.html","https://www.deccanchronicle.com/nation/in-other-news/291020/six-teenagers-drown-trying-to-save-one-another-in-west-godavari.html","https://www.deccanchronicle.com/nation/in-other-news/291020/complaints-galore-on-mismanagement-of-hyderabad-flood-relief.html","https://www.deccanchronicle.com/world/america/291020/trump-admin-proposes-to-scrap-computerised-lottery-system-to-select-h.html","https://www.deccanchronicle.com/nation/politics/291020/andhra-pradesh-cites-covid-opposes-elections-to-local-bodies.html","https://www.deccanchronicle.com/nation/in-other-news/291020/indian-parliamentary-panel-slams-twitter-in-china-map-dispute.html","https://www.deccanchronicle.com/nation/politics/291020/pm-modi-tears-into-rjds-tejashwi-says-hes-yuvraj-of-jungle-raj.html","https://www.deccanchronicle.com/nation/current-affairs/291020/nia-conducts-raids-at-multiple-locations-including-offices-of-greate.html","https://www.deccanchronicle.com/nation/current-affairs/291020/jaish-militants-killed-in-srinagar-firefight.html","https://www.deccanchronicle.com/nation/politics/291020/mass-movement-against-new-farming-laws-in-telangana-soon-harish-rao.html"]

TOI_29 = ["https://timesofindia.indiatimes.com/india/nia-conducts-searches-at-7-locations-in-jk-delhi-in-terror-funding-case/articleshow/78935265.cms","https://timesofindia.indiatimes.com/india/coronavirus-india-live-updates-lockdown-extended-in-containment-zones-till-november-30/liveblog/78902091.cms","https://timesofindia.indiatimes.com/world/europe/france-knife-attack-church-sexton-had-throat-slit-while-preparing-for-mass/articleshow/78935099.cms","https://timesofindia.indiatimes.com/sports/cricket/ipl/top-stories/csk-vs-kkr-live-score-nitish-rana-solid-as-kolkata-knight-riders-eye-big-finish/articleshow/78932887.cms","https://timesofindia.indiatimes.com/india/other-states-uts-have-laws-to-protect-their-land-why-not-jk-omar/articleshow/78935629.cms","https://timesofindia.indiatimes.com/india/nia-conducts-searches-at-7-locations-in-jk-delhi-in-terror-funding-case/articleshow/78935265.cms","https://timesofindia.indiatimes.com/india/pm-modi-condemns-knife-attack-in-france-says-india-stands-with-france/articleshow/78935126.cms","https://timesofindia.indiatimes.com/india/strengthen-testing-tracking-treatment-strategy-during-festivals-centre-to-delhi-kerala-bengal/articleshow/78933409.cms","https://timesofindia.indiatimes.com/india/country-that-gives-shelter-to-un-proscribed-terrorists-should-not-play-victim-india-to-pakistan/articleshow/78934516.cms","https://timesofindia.indiatimes.com/india/nia-conducts-searches-at-4-locations-in-assam-and-maharashtra-in-delhi-gold-smuggling-case/articleshow/78934411.cms"]

#A new article from TOI 

for url in TOI_29:   
    #For different language newspaper refer above table 
    toi_article = Article(url, language="en") # en for English 

    #To download the article 
    toi_article.download() 

    #To parse the article 
    toi_article.parse() 

    #To perform natural language processing ie..nlp 
    toi_article.nlp() 

    #To extract summary 
    TOI_29_result.append(toi_article.summary)
 
    

for url in Hindustan_29:   
    #For different language newspaper refer above table 
    toi_article = Article(url, language="en") # en for English 

    #To download the article 
    toi_article.download() 

    #To parse the article 
    toi_article.parse() 

    #To perform natural language processing ie..nlp 
    toi_article.nlp() 

    #To extract summary 
    Hindustan_29_result.append(toi_article.summary)
     

        
for url in Deccan_29:   
    #For different language newspaper refer above table 
    toi_article = Article(url, language="en") # en for English 

    #To download the article 
    toi_article.download() 

    #To parse the article 
    toi_article.parse() 

    #To perform natural language processing ie..nlp 
    toi_article.nlp() 

    #To extract summary 
    Deccan_29_result.append(toi_article.summary)

C:\Users\Asus\anaconda3\lib\site-packages\dateutil\parser\_parser.py:1218: UnknownTimezoneWarning: tzname IST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [91]:
# importing pandas as pd  
import pandas as pd  
  
# dictionary of lists  
dict = {'Deccan Chronicle': Deccan_29_result, 'Hindustan Times':Hindustan_29_result, 'Times of India': TOI_29_result}  
    
df = pd.DataFrame(dict) 
    
df.head()

,Deccan Chronicle,Hindustan Times,Times of India
0,"Top Telugu actress Kajal Aggarwal, who is also...","cricketUpdated: Oct 29, 2020, 20:24 ISTIPL 202...",Representative imageNEW DELHI: The National In...
1,Six teenagers drowned in a rivulet trying to s...,The Taste with Vir: It’s stupid to say the ter...,Pilgrim season starts on Nov 16.\nof pilgrims ...
2,Hyderabad: Flood victims complained of discrim...,"Calling the NHAI bureaucracy “ nalayak, nikamm...",A woman kneels by a police car as she cries in...
3,"According to the DHS, modifying the H-1B cap s...","If Joe Biden wins presidential election, what ...","Note - If Chennai Super Kings win today, Mumba..."
4,Vijayawada Oct. 28 : The Andhra Pradesh govern...,New Delhi’s sharp comeback came after Islamaba...,SRINAGAR: National Conference leader Omar Abdu...

now we try to add this data into our previous dtat set so we can easily do here we are doing countervectorizer

In [92]:
s=pd.DataFrame({"impression_type":"Nan","News":Deccan_29_result,"news_channel":"Deccan Chronicle"},columns=["impression_type","News","news_channel"])
d=pd.DataFrame({"impression_type":"Nan","News":Hindustan_29_result,"news_channel":"Hindustan Times"},columns=["impression_type","News","news_channel"])
k=pd.DataFrame({"impression_type":"Nan","News":TOI_29_result,"news_channel":"Times of India"},columns=["impression_type","News","news_channel"])
a=pd.concat([a,s],axis=0)
a=pd.concat([a,d],axis=0)
a=pd.concat([a,k],axis=0)
a

,impression_type,News,news_channel
0,neutral,"According to Gran , the company has no plans t...",econonices Times
1,neutral,Technopolis plans to develop in stages an area...,econonices Times
2,negative,The international electronic industry company ...,econonices Times
3,positive,With the new production plant the company woul...,econonices Times
4,positive,According to the company 's updated strategy f...,econonices Times
...,...,...,...
5,Nan,Representative imageNEW DELHI: The National In...,Times of India
6,Nan,I strongly condemn the recent terrorist attack...,Times of India
7,Nan,"The state has 37,111 active cases, its case fa...",Times of India
8,Nan,NEW DELHI: The country that continues to shelt...,Times of India
9,Nan,Representative imageNEW DELHI: The NIA on Thur...,Times of India

In [93]:
new_size=a.shape
new_size

(4876, 3)

Here we don't required feature selection or feature engineering we need to do direct data cleaning like remove all tokenized word and other unnessary sign like commas,dot, brakets all other.

In [94]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
list_of_stopwords=stopwords.words("English")

In [95]:
other_removal_words=[",",";","%",".","(",")","[","]","%","mn","$","``","-",":","SHE","mln","'s","",
                    "www.citycon.com","...","`","Oyj","'","!","|","_","SSH","000","EET","GMO","--"]
clean_news=[]#it is cleaned news article list
for i in range(a.shape[0]):
    sentences=a.News.values[i]
    token_word=word_tokenize(sentences)
    clean_news_sentences=""
    for i in token_word:
        if i not in list_of_stopwords:
            if i not in other_removal_words: 
                clean_news_sentences=clean_news_sentences+" "+i
    #print(clean_news_sentences)
    clean_news.append(clean_news_sentences)

In [96]:
a["clean_news_article"]=clean_news

In [97]:
a.head()

,impression_type,News,news_channel,clean_news_article
0,neutral,"According to Gran , the company has no plans t...",econonices Times,According Gran company plans move production ...
1,neutral,Technopolis plans to develop in stages an area...,econonices Times,Technopolis plans develop stages area less 10...
2,negative,The international electronic industry company ...,econonices Times,The international electronic industry company...
3,positive,With the new production plant the company woul...,econonices Times,With new production plant company would incre...
4,positive,According to the company 's updated strategy f...,econonices Times,According company updated strategy years 2009...

In [98]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [99]:
df=cv.fit_transform(a["clean_news_article"])# here we are doing countervectorizer

In [100]:
df

<4876x10580 sparse matrix of type '<class 'numpy.int64'>'
	with 64186 stored elements in Compressed Sparse Row format>

spliting into traing and testing data

In [102]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(df[:old_size[0]],a["impression_type"][:old_size[0]],train_size=0.8)

here we we use only "economic time news" to train our data and than we test its accuracy on test data of "economic time news"
and than we use this model to predict sentimental analysis on for "Deccan Chronicle","Hindustan Times","Times of India"

here we apply naive_bayes algorithium as we alredy see in past in major project i got good accuracy by naive_bayes algorithim in classification problem in compare to Random forest and support vector machine

In [103]:
from sklearn.naive_bayes import MultinomialNB
naive=MultinomialNB()

In [104]:
naive.fit(X_train,Y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [105]:
Y_predicted_value=naive.predict(X_test)

In [106]:
from sklearn.metrics import accuracy_score

In [107]:
accuracy_score(Y_predicted_value,Y_test)

0.722680412371134

so accuracy of this modal quite satisfactory not much good as we expect like more than 90 perscent

now we apply this model to apply sentimental analysis on three news channel and conmpare positive and negative article presented by news channel per days

In [115]:
Y_predicted_value=naive.predict(df[old_size[0]:old_size[0]+a[a["news_channel"]=="Deccan Chronicle"].shape[0]])
positive_count=0
negative_count=0
for i in range(len(Y_predicted_value)):
    if Y_predicted_value[i]=="positive":
        positive_count+=1
    elif  Y_predicted_value[i]=="negative":
        negative_count+=1
print("total news article by Deccan Chronicle per day--",len(Y_predicted_value),"  total positive article--",positive_count,"  total negative article--",negative_count)

Y_predicted_value=naive.predict(df[old_size[0]+10:old_size[0]+10+a[a["news_channel"]=="Hindustan Times"].shape[0]])
positive_count=0
negative_count=0
for i in range(len(Y_predicted_value)):
    if Y_predicted_value[i]=="positive":
        positive_count+=1
    elif  Y_predicted_value[i]=="negative":
        negative_count+=1
print("total news article by Hindustan Times per day--",len(Y_predicted_value),"  total positive article--",positive_count,"  total negative article--",negative_count)


Y_predicted_value=naive.predict(df[old_size[0]+20:old_size[0]+20+a[a["news_channel"]=="Times of India"].shape[0]])
positive_count=0
negative_count=0
for i in range(len(Y_predicted_value)):
    if Y_predicted_value[i]=="positive":
        positive_count+=1
    elif  Y_predicted_value[i]=="negative":
        negative_count+=1
print("total news article by Times of India per day--",len(Y_predicted_value),"  total positive article--",positive_count,"  total negative article--",negative_count)

total news article by Deccan Chronicle per day-- 10   total positive article-- 2   total negative article-- 7
total news article by Hindustan Times per day-- 10   total positive article-- 1   total negative article-- 5
total news article by Times of India per day-- 10   total positive article-- 0   total negative article-- 7

so we get that "Deccan Chronicle" shows 2 positive and 7 negative and 1 neutral article per day

similarly Hindustan Times  shows 1 positive and 5 negative and 4 neutral article per day

similarly Times of India shows Zero positive and 7 negative and 3 neutral article per day

Auther : RISHABH TRIPATHI